


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.link-search {
    display: flex;
    justify-content: end;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    float: left;
}

.a-tags {
    text-decoration: none;
    color:white;
    padding: 1rem;
    display: block;
}

.links:hover {
    background-color: #555;
}
